In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
%cd '/content/gdrive/My Drive/Datathon/'

/content/gdrive/.shortcut-targets-by-id/1KAt26RbjXVUTFl0HeTcsLK0FcXRAYiWe/Datathon

In [ ]:
import pandas as pd

In [ ]:
accepted = pd.read_csv('LC/Lending_Club_Accepted_2014_2018.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (19,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
grades = accepted[['grade', 'issue_d']]

In [ ]:
months = {
    'Jan': '01',
    'Feb': '02',
    'Mar': '03',
    'Apr': '04',
    'May': '05',
    'Jun': '06',
    'Jul': '07',
    'Aug': '08',
    'Sep': '09',
    'Oct': '10',
    'Nov': '11',
    'Dec': '12'
}

In [ ]:
def parse_date(date):
    # date = str(date)
    month = months[date[:3]]
    year = date[-4:]

    return f'{year}-{month}'

In [ ]:
def unique(list1):
 
    # insert the list to the set
    list_set = set(list1)
    # convert the set to the list
    unique_list = (list(list_set))
    for x in unique_list:
        print(x)

In [ ]:
dates = [parse_date(x) for x in grades['issue_d']]

In [ ]:
dates[-5:]

['2016-10', '2016-10', '2016-10', '2016-10', '2016-10']

In [ ]:
grades['dates'] = dates

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
grades

        grade   issue_d    dates
0           C  Dec-2015  2015-12
1           C  Dec-2015  2015-12
2           B  Dec-2015  2015-12
3           C  Dec-2015  2015-12
4           F  Dec-2015  2015-12
...       ...       ...      ...
2029947     C  Oct-2016  2016-10
2029948     B  Oct-2016  2016-10
2029949     B  Oct-2016  2016-10
2029950     C  Oct-2016  2016-10
2029951     C  Oct-2016  2016-10

[2029952 rows x 3 columns]

In [ ]:
import pandas as pd

In [ ]:
datasets = ['fed', 'dow', 'sp', 'treasury', 'unrate', 'vix']

In [ ]:
#Loades each dataset
data_dict = {
    'fed': pd.read_csv('./Data/fed-funds-rate.csv'),
    'dow': pd.read_csv('./Data/dow-jones.csv'),
    'sp': pd.read_csv('./Data/sp-500.csv'),
    'treasury': pd.read_csv('./Data/treasury-constant-maturity.csv'),
    'unrate': pd.read_csv('./Data/unrate.csv'),
    'vix': pd.read_csv('./Data/vix-index.csv')
}

In [ ]:
print(get_dates('fed'))

['2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12']

In [ ]:
#Returns list of cut dates
def get_dates(rate_type):
    rates_dict = data_dict[rate_type]['DATE']
    date_list = [x[:7] for x in rates_dict]
    return date_list

In [ ]:
#Dictionary of cut dates from each dataset
dates_dict = {
    'fed': get_dates('fed'),
    'dow': get_dates('dow'),
    'sp': get_dates('sp'),
    'treasury': get_dates('treasury'),
    'unrate': get_dates('unrate'),
    'vix': get_dates('vix')
}

In [ ]:
#Dictionary of rates_columns data names
rates_columns = {
    'fed': 'FEDFUNDS',
    'dow': 'DJIA',
    'sp': 'SP500',
    'treasury': 'T10Y2Y',
    'unrate': 'UNRATE',
    'vix': 'VIXCLS'
}

#General find rate function
def find_rate(x, rate_type):
    if x in dates_dict[rate_type]:
        ind = dates_dict[rate_type].index(x)
        return data_dict[rate_type].at[ind, rates_columns[rate_type]]

def find_counts(x):
    k = list(Counter(dates).keys()) 
    v = list(Counter(dates).values())

    for i in range(len(k)):
        print(f'{k[i]}: {v[i]}')

In [ ]:
rates_data_list = []

for dataset in datasets:
    temp_dataset = [find_rate(x, dataset) for x in dates]
    rates_data_list.append(temp_dataset)

In [ ]:
for i in range(len(rates_data_list)):
    grades[datasets[i]] = rates_data_list[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
grades

,grade,issue_d,dates,fed,dow,sp,treasury,unrate,vix,datasets[i]
0,C,Dec-2015,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67,14.67
1,C,Dec-2015,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67,14.67
2,B,Dec-2015,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67,14.67
3,C,Dec-2015,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67,14.67
4,F,Dec-2015,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67,14.67
...,...,...,...,...,...,...,...,...,...,...
2029947,C,Oct-2016,2016-10,0.40,18253.85,2161.2,0.83,4.9,13.57,13.57
2029948,B,Oct-2016,2016-10,0.40,18253.85,2161.2,0.83,4.9,13.57,13.57
2029949,B,Oct-2016,2016-10,0.40,18253.85,2161.2,0.83,4.9,13.57,13.57
2029950,C,Oct-2016,2016-10,0.40,18253.85,2161.2,0.83,4.9,13.57,13.57
2029951,C,Oct-2016,2016-10,0.40,18253.85,2161.2,0.83,4.9,13.57,13.57

In [ ]:
grades = grades.drop(['datasets[i]'], axis=1)

In [ ]:
grades.to_csv('./Data/updated_grade_data_with_dates.csv', index=False)

In [ ]:
df = pd.read_csv('./Data/updated_grade_data_with_dates.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,5,6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
def change_to_number(letter):
    let_num = {
        'A': 1,
        'B': 2,
        'C': 3,
        'D': 4,
        'E': 5,
        'F': 6,
        'G': 7
    }
    return let_num[letter]

In [ ]:
df['number'] = df['grade'].apply(change_to_number)

In [ ]:
df.insert(1, 'number', df.pop('number'))

In [ ]:
df.head(5)

In [ ]:
df.groupby('dates').mean()

In [ ]:
df.to_csv('./Data/grades-with-averages.csv', index=False)

In [ ]:
unique(df['dates'])

In [ ]:
unique(df['grade'])

E
B
G
C
D
F
A

In [ ]:
for data in rates_data_list:
    print(data)

[None, None, None, None, None]
[None, None, None, None, None]
[None, None, None, None, None]
[None, None, None, None, None]
[None, None, None, None, None]
[None, None, None, None, None]

In [ ]:
find_counts(grades_funds_rate)

2015-12: 44343
2015-11: 37530
2015-10: 48631
2015-09: 28641
2015-08: 35886
2015-07: 45962
2015-06: 28485
2015-05: 31913
2015-04: 35427
2015-03: 25400
2015-02: 23770
2015-01: 35107
2018-03: 38771
2018-02: 32746
2018-01: 36347
2017-09: 39713
2017-08: 43573
2017-07: 39415
2016-06: 33019
2016-05: 28403
2016-04: 36432
2018-09: 39026
2018-08: 46079
2018-07: 43089
2017-06: 38087
2017-05: 37681
2017-04: 29683
2016-03: 61992
2016-02: 39529
2016-01: 32366
2014-12: 10307
2014-11: 25054
2014-10: 38783
2014-09: 10606
2014-08: 18814
2014-07: 29306
2014-06: 17179
2014-05: 19099
2014-04: 19071
2014-03: 16513
2014-02: 15269
2014-01: 15628
2018-12: 40134
2018-11: 41973
2018-10: 46305
2018-06: 41533
2018-05: 46311
2018-04: 42928
2017-03: 37181
2017-02: 27763
2017-01: 31835
2016-09: 28144
2016-08: 36280
2016-07: 34696
2017-12: 38154
2017-11: 42343
2017-10: 38151
2016-12: 36183
2016-11: 34591
2016-10: 32772

appending dates to full accepted dataset

In [ ]:
accepted['dates'] = dates

In [ ]:
for i in range(len(rates_data_list)):
    accepted[datasets[i]] = rates_data_list[i]

In [ ]:
accepted.tail(5)[['issue_d', 'dates'] + datasets]

          issue_d    dates  fed       dow      sp treasury  unrate    vix
2029947  Oct-2016  2016-10  0.4  18253.85  2161.2     0.83     4.9  13.57
2029948  Oct-2016  2016-10  0.4  18253.85  2161.2     0.83     4.9  13.57
2029949  Oct-2016  2016-10  0.4  18253.85  2161.2     0.83     4.9  13.57
2029950  Oct-2016  2016-10  0.4  18253.85  2161.2     0.83     4.9  13.57
2029951  Oct-2016  2016-10  0.4  18253.85  2161.2     0.83     4.9  13.57

In [ ]:
def change_to_number(letter):
    let_num = {
        'A': 1,
        'B': 2,
        'C': 3,
        'D': 4,
        'E': 5,
        'F': 6,
        'G': 7
    }
    return let_num[letter]

In [ ]:
accepted['number'] = accepted['grade'].apply(change_to_number)

In [ ]:
accepted.insert(1, 'number', accepted.pop('number'))

In [ ]:
accepted.head(5)

,id,number,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,settlement_amount,settlement_percentage,settlement_term,dates,fed,dow,sp,treasury,unrate,vix
0,68407277,3,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,...,NaN,NaN,NaN,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67
1,68355089,3,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,...,NaN,NaN,NaN,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67
2,68341763,2,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,...,NaN,NaN,NaN,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67
3,66310712,3,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,...,NaN,NaN,NaN,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67
4,68476807,6,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,...,NaN,NaN,NaN,2015-12,0.24,17888.35,2102.63,1.24,5.0,14.67

In [ ]:
accepted.to_csv('./Data/all-accepted-with-rates.csv', index=False)

In [ ]:
accepted.groupby('dates').mean()

In [ ]:
df.to_csv('./Data/grades-with-averages.csv', index=False)