In [1]:
import pandas as pd

In [3]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
%cd '/content/gdrive/My Drive/Datathon/'

/content/gdrive/.shortcut-targets-by-id/1KAt26RbjXVUTFl0HeTcsLK0FcXRAYiWe/Datathon

In [19]:
new_df = pd.read_csv("./Data/new_table.csv", sep='\t')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (20,60,119,130,131,132,135,136,137,140,146,147,148,154,155,156,158) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
df.tail()

,id,number,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,fed,dow,sp,treasury,unrate,vix,avg_sentiment,minor_categories,major_categories,textual_major_categories
22120,66625582,2,NaN,21000.0,21000.0,21000.0,36 months,8.38,661.76,B,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,382,9,Armed forces occupations
22121,66535162,1,NaN,25000.0,25000.0,25000.0,36 months,5.32,752.87,A,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,177,1,Management
22122,66405443,1,NaN,10000.0,10000.0,10000.0,36 months,7.26,309.97,A,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,64,3,Technicians and associate professionals
22123,66622756,3,NaN,13625.0,13625.0,13625.0,60 months,11.99,303.02,C,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,458,3,Technicians and associate professionals
22124,66485195,2,NaN,6000.0,6000.0,6000.0,36 months,9.76,192.93,B,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,36,7,"Plant and machine operators, and assemblers"

In [22]:
new_df.shape

(1877343, 163)

In [23]:
new_df.head(5)

,id,number,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,fed,dow,sp,treasury,unrate,vix,avg_sentiment,minor_categories,major_categories,textual_major_categories
0,68407277,3,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,9,0,Other
1,68355089,3,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,18,2,Professional
2,68341763,2,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,11,7,"Plant and machine operators, and assemblers"
3,66310712,3,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,211,2,Professional
4,68476807,6,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,...,0.24,17888.35,2102.63,1.24,5.0,14.67,0.057344,76,2,Professional